<html>
<head><title>Entrolment form</title></head>
<body>

    <h2>Enroll from below list of computing courses</h2>

    <form action="/submit" method="post">
        <label for="DataScience">DataScience</label><br>
        <select id="datascience" name="datascience">
            <option value="no">Will join later.</option>
            <option value="yes">I am in!</option>
        </select><br><br>
        <label for="Java">Java developer</label><br>
        <select id="java" name="java">
            <option value="no">Will join later.</option>
            <option value="yes">I am in!</option>
        </select><br><br>
        <label for="Python">Python  developer</label><br>
        <select id="python" name="python">
            <option value="no">Will join later.</option>
            <option value="yes">I am in!</option>
        </select><br><br>
        <label for="JavaScript">JavaScript developer</label><br>
        <select id="js" name="js">
            <option value="no">Will join later.</option>
            <option value="yes">I am in!</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <p>Hit the "Submit" button to enter your choice.<br>More than one course is accepted at the same time*</p>

</body>
</html>